body {
  font-family: 'Droid Sans', sans-serif;
  margin: 0;
  color: #484848 ;
}
a {
  color: #484848;
  text-decoration: none;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
::-webkit-scrollbar {
  display: none;
}

/* --------------- Nav --------------- */

nav {
  border-bottom: 1px solid #ccc;
  display: flex;
  flex-direction: row;
  /*height: 71px;*/
  height: 10vh;
}
.nav__left,
.nav__right {
  display: flex;
  flex: 1;
}
.nav__left a,
.nav__right ul {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 5px;
}
.nav__left a img {
  height: 45px;
  width: 38px;
}
.nav__left a h1 {
  margin: 0px 0px 0px 10px;
  font-size: 1.5rem;
}
.nav__right ul {
  flex: 1;
  justify-content: flex-end;
}
.nav__right ul li {
  margin: 0 20px;
}

/* --------------- Home --------------- */
.home {
  height: 90vh;
  margin: 0 5%;
}
.home__background-picture {
  background: url("images/home__background-picture6.jpg") no-repeat;
  background-size: contain;
  background-position: right bottom;
  height: 100%;
}
.home__message {
  width: 40%;
  padding-top: 5%;
}
.home__message h2 {
  font-size: 3rem;
  font-weight: 100;
  margin: 0;
}
.home__message--highlight {
  font-weight: 700;
  color: #ce1126;
  border-bottom: 1px solid #ce1126;
}
.home__button-subscribe {
  border: 1px solid #30c2dc;
  border-radius: 5px;
  padding: 10px 40px;
  background-color: #fff;
  cursor: pointer;
  margin-top: 10px;
  font-size: 1.25rem;
  color: #484848;
}
.home__button-subscribe:hover {
  background-color: #30c2dc;
  color: #fff;
}

/* --------------- Background-pictures --------------- */
.firstbreak {
  background: url("images/paleta-payaso.png") no-repeat;
  background-color: #FEE037;
}

.secondbreak {
  background: url("images/mexi-logo-neon.jpg") no-repeat;
  background-color: #0DFFFF;
}

.thirdbreak {
  background: url("images/visit-mexico-logo.png") no-repeat;
  background-color: #dbad6c;
}

.background-picture {
  background-size: contain;
  background-position: center center;
  height: 30vh;
}



/* --------------- Responsive --------------- */

@media screen and (max-width: 868px) {
  .home__message {
    width: 70%;
  }
  .home__message h2 {
    font-size: 1.5rem;
  }
  .home__button-subscribe {
    padding: 10px;
  }
}
