body {
  font-family: 'Droid Sans', sans-serif;
  margin: 0;
  color: #484848 ;
}
a {
  color: #484848;
  text-decoration: none;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
::-webkit-scrollbar {
  display: none;
}

/* --------------- Header --------------- */

header {
  border-bottom: 1px solid #ccc;
  display: flex;
  flex-direction: row;
  /*height: 71px;*/
  height: 10vh;
}
.nav__left,
.nav__right {
  display: flex;
  flex: 1;
  margin: 0 5%;
}
.nav__left a {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.nav__left a img {
  height: 45px;
  width: 38px;
}
.nav__left a h1 {
  margin: 0px 0px 0px 10px;
  font-size: 1.5rem;
}
.nav__right {
  flex: 1;
  justify-content: flex-end;
  align-items: center;
}
.nav__right button {
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  cursor: pointer;
}
.nav__right button span {
  height: 2px;
  width: 20px;
  background-color: #484848;
  margin: 5px 0;
  display: block;
}

/* --------------- Nav --------------- */

.nav {
  height: 100vh;
  background-color: #dbad6c;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.nav ul li {
  font-size: 2rem;
  cursor: pointer;
  margin-bottom: 10%;
}
.nav ul li:hover {
  border-bottom: 2px solid #8f4620;
}
.nav ul li a {
  color: #fff;
}
.nav ul li a i {
  margin-right: 20px;
}
.nav-img {
  width: 40px;
  height: 50px;
  z-index: 1000;
  position: fixed;
  cursor: pointer;
  background-color: #fff;
  margin: 1%;
}
.nav-img:hover {
  border-bottom: 2px solid #dbad6c;
}

/* --------------- Home --------------- */
.home {
  height: 90vh;
  width: 90%;
  margin: auto;
}
.home__background-picture {
  background: url("images/home__background-picture6.jpg") no-repeat;
  background-size: contain;
  background-position: right bottom;
  height: 100%;
}
.home__message {
  width: 40%;
  padding-top: 5%;
}
.home__message h2 {
  font-size: 3rem;
  font-weight: 100;
  margin: 0;
}
.home__message--highlight {
  font-weight: 700;
  color: #ce1126;
  border-bottom: 1px solid #ce1126;
}
.home__button-subscribe {
  border: 1px solid #30c2dc;
  border-radius: 5px;
  padding: 10px 40px;
  background-color: #fff;
  cursor: pointer;
  margin-top: 10px;
  font-size: 1.25rem;
  color: #484848;
}
.home__button-subscribe:hover {
  background-color: #30c2dc;
  color: #fff;
}

/* --------------- Background-pictures --------------- */

.firstbreak {
  background: url("images/paleta-payaso.png") no-repeat;
  background-color: #FEE037;
}
.secondbreak {
  background: url("images/visit-mexico-logo.png") no-repeat;
  background-color: #dbad6c;
}
.background-picture {
  background-size: contain;
  background-position: center center;
  height: 30vh;
}

/* --------------- How does it work --------------- */

.work,
.plans {
  width: 90%;
  margin: auto;
}
.work__title h2,
.plans__title h2 {
  font-size: 2.5rem;
  font-weight: 100;
  margin: 0;
  margin: 2% 0;
}
.work__description {
  background-color: #30c2dc;
  padding: 2%;
  border-radius: 5px;
  margin-bottom: 2%;
}
.work__description--highlight {
  border-bottom: 2px solid #ce1126
}
.work__description h4 {
  font-size: 1.5rem;
  font-weight: 100;
  letter-spacing: 1px;
  color: #fff;
}
.work__info {
  display: flex;
  flex-direction: row;
}
.work__info div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 1;
  padding: 1%;
}
.work__info div h4 {
  font-size: 1.5rem;
  font-weight: 100;
}

/* --------------- Footer --------------- */

footer {
  background: url("images/mexi-logo-neon.jpg") no-repeat;
  background-color: #0DFFFF;
  background-size: contain;
  background-position: center center;
  height: 10vh;
}

/* --------------- Responsive --------------- */

@media screen and (max-width: 868px) {
  .nav ul {
    padding: 5%;
  }
  .nav ul li {
    font-size: 1.5rem;
  }
  .home__message {
    width: 70%;
  }
  .home__message h2 {
    font-size: 2rem;
  }
  .home__button-subscribe {
    padding: 10px;
  }
  .work__title h2 {
    margin: 5% 0;
    font-size: 2rem;
  }
  .work__info {
    flex-direction: column;
  }
  .work__description h4,
  .plans__description h4 {
    font-size: 1.25rem;
  }
  .work__info div p {
    text-align: center;
  }
}
